In [25]:
print('Be hungry and be foolish')

Be hungry and be foolish

In [26]:
import pandas as pd

In [27]:
file=pd.read_csv('Medicaldataset.csv')

In [29]:
file[:100]

,Age,Gender,Heart rate,Systolic blood pressure,Diastolic blood pressure,Blood sugar,CK-MB,Troponin,Result
0,64,1,66,160,83,160.0,1.80,0.012,negative
1,21,1,94,98,46,296.0,6.75,1.060,positive
2,55,1,64,160,77,270.0,1.99,0.003,negative
3,64,1,70,120,55,270.0,13.87,0.122,positive
4,55,1,64,112,65,300.0,1.08,0.003,negative
...,...,...,...,...,...,...,...,...,...
95,66,1,60,129,55,88.0,1.60,0.038,positive
96,40,1,60,97,44,167.0,6.91,0.051,positive
97,19,0,62,114,69,240.0,300.00,0.004,positive
98,58,1,75,116,71,132.0,1.98,0.028,positive
99,77,1,73,115,72,134.0,19.50,0.009,positive